body{
    padding:0;
    margin:0;
    line-height: 1.5;
    background-color:black;
    color:#272537;
    font-family:'Roboto Condensed', sans-serif ;
    }
header{
    padding-top:10px;
    background-color: rgb(161, 157, 157);
    
}
#header-img{
    height:30%; 
    width: 30%;
    margin-left:35%;
}
#header-link{
 text-align: center;
}
blockquote{
   text-align: center;
}
h1{
    text-align:center
}
blockquote, .font_span{
    font-family:'Roboto Mono', monospace;
    font-weight:700;
}
img{
    box-shadow: 2px 5px 10px  rgb(226, 184, 184);
    border-radius:5%;
}
.container{
    width:80%;
    padding:5px;
    border:2px solid #606977;
    background-color:#606977;
    border-radius:.8%;
    margin: auto;
    overflow: hidden;
    box-shadow: 2px 5px 10px  rgb(250, 222, 222);
}
section{
    background-color:#D1dcE2;
}
#section-one, #section-two, #section-three{
    display:flex;
    margin-top:5px;
   
    
}
#section-one{
    min-height: 300px;
}
#section-one h2{
    text-align:center;
}
#aside-one{
    float: right;
    margin-right:20%;
}
#section-two{
    
    text-align:center;
    align-content:space-around;
    
}
#section-three{
    
    justify-content: space-around;
    text-align: center;
}
ul{
list-style: none;
}
li a{
    text-decoration: none;
    background-color:white;
    color:#E3Bf76;
}
footer{
    text-align:center;
    margin-top:5px;
}

/*Media Queries*/ 
@media(max-width:768px){
    header,
    #section-two ,#section-three
    article#main-col,
    aside{
       float:none;
       text-align:center;
       width:100%;
   } 

   #header-img{
       margin-left:30%;
       margin-right:35%;
   } 
   
   


}
