body{
    padding:0;
    margin:0;
    line-height: 1.5;
    color:#272537;
   
    }
header{
    padding-top:10px;
    border-radius:.8%;
    background-color:#9ab7e6;
    
}
#header-img{
    height:30%; 
    width: 30%;
    margin-left:35%;
}
#header-link{
 text-align: center;
}
blockquote{
   text-align: center;
}
h1{
    text-align:center;
    font-family: 'Open Sans';
    font-weight:800;
}
blockquote, .font_span{
    font-family:'Roboto Mono', monospace;
    font-weight:700;
}
img{
    box-shadow: 2px 5px 10px  rgb(226, 184, 184);
    border-radius:5%;
}
.nav-item{
    background-color:rgb(169, 233, 171);
}
.nav-link{
    font-family:'Roboto Mono';
    font-weight:400;
}
.container{
    width:80%;
    padding:5px;
    border-radius:.8%;
    margin: auto;
    overflow: hidden;
    
}

#section-one, #section-two, #section-three, #section-four{
    display:flex;
    margin-top:5px;
    font-family:'Open Sans', sans-serif ;   
}
#section-one{
    
    min-height: 300px;
    box-shadow: 2px 5px 10px  rgb(250, 222, 222);
}
#section-one h2{
    text-align:center;
}
#aside-one{
    float: right;
    margin-right:30%;
    background-color:#9ab7e6;
}
#img_braveNP{
    margin-left:30%;
}
#section-two{   
    text-align:center;
    align-content:space-around;
    box-shadow: 2px 5px 10px  rgb(250, 222, 222);
    
    
}
#section-three{
    justify-content: space-around;
    text-align: center;
    
  
}
#section-four{
    justify-content: space-around;
    text-align: center; 
    border:2px solid #a6badb;
    background-color:#9ab7e6;
}
ul{
list-style: none;
}
li a{
    text-decoration: none;
    font-size: larger;
    color:black;
}

footer{
    text-align:center;
    margin-top:5px;
}

/*Media Queries*/ 
@media(max-width:768px){
    header,
    #section-two ,#section-three
    article#main-col,
    aside{
       float:none;
       text-align:center;
       width:100%;
   } 

   #header-img{
       margin-left:30%;
       margin-right:35%;
   } 
   
   


}
